@use "../base/variables" as *;

.footer {
    background-color: $color-darker;
    color: #fff;
    padding: 3rem 4rem 3rem;

    @media (max-width: $bp-medium) {
        text-align: center;
        padding: 8rem 4rem 4rem;
    }

    .footer-copy {
        @media (max-width: $bp-medium) {
            margin-top: 5rem;
        }
    }

    p, a {
        color: #fff;
        font-size: 2rem;

        @media (max-width: $bp-medium) {
            font-size: 1.5rem;
        }
    }

    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    a {
        text-transform: uppercase;
        padding: 1.5rem;
        transition: $transition;

        &:hover {
            color: $color-primary;
        }
    }

    .footer-social {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $bp-medium) {
            flex-wrap: wrap;
            justify-content: center;
        }
        
        a {

            transition: $transition;

            svg {
                path {
                    fill: #fff;
                    transition: $transition;
                }
            }

            &:hover {

                transform: translateY(-.5rem);

                svg path {
                    fill: $color-primary;
                }
            }

        }
    }

    .footer-top {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $bp-medium) {
            justify-content: center;
        }
    }
}