@use "../base/variables" as *;

.contact {
    padding: 14rem 0 20rem;
    background-color: $color-dark;
    background: linear-gradient(333deg, rgba(34,34,34,1) 50%, rgb(39, 39, 39) 100%);

    @media (max-width: $bp-medium) {
        padding: 8rem 0 6rem;
    }

    h2, p {
        color: #fff;
    }
    
    .section-content {
        padding-right: 10rem;

        @media (max-width: $bp-medium) {
            padding-right: 0;
        }
    }

    .section-content-info {
        padding-top: 4rem;
    }
}