@use "../base/variables" as *;

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .hero-background {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        bottom: 0;
        box-shadow: none;
        height: 100%;
        left: 0;
        margin: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        transform: scale(1);
        animation: scaleAnimation 15s ease-in-out infinite; /* Adjust duration as needed */
        transform-origin: center; /* Scale from the center */
    }

    .hero-content {
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 2rem 4rem;

        .hero-subtitle, .hero-title {
            text-align: center;
        }

        .section-desc {
            margin-bottom: 4rem;

            a {
                text-decoration: underline;
            }
        }

        .hero-title {
            max-width: 68vw;
            margin: 2rem auto;
            color: #fff;
            transition: $transition;

            @media (max-width: $bp-medium) {
                font-size: 5rem;
                max-width: none;
            }

            .letters {
                opacity: 0;
                transition: all .4s;
                display: inline-block; /* Makes inline element transformable */
                transform: translateY(4rem) rotate(8deg);

                @media (max-width: $bp-medium) {
                    transform: translateY(2rem) rotate(0);
                }

                &.active {
                    opacity: 1;
                    transform: translate(0, 0) rotate(0);
                }

            }

            .words:nth-of-type(2) {
                .letters {
                    margin-left: -1vw;
                    margin-right: -1vw;
                }
            }
        }

        .hero-subtitle {
            font-size: $smaller-size;
            color: #fff;
            transition: all .6s;
            opacity: 0;
            transform: translateY(4rem) rotate(2deg);

            &.active {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        .hero-btn {
            opacity: 0;
            transform: translateY(4rem) rotate(2deg);
            transition: all .6s;

            &.active {
                opacity: 1;
                transform: translate(0, 0);
            }

        }
    }

}

@keyframes morph {
    0% {
      border-radius: 50% 40% 60% 30% / 30% 60% 40% 50%;
    }
    50% {
      border-radius: 40% 60% 50% 40% / 50% 40% 60% 30%;
    }
    100% {
      border-radius: 50% 40% 60% 30% / 30% 60% 40% 50%;
    }
  }


